<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.batua.android.user">

    <permission
        android:name="com.batua.android.user.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Recieve SMS permissions-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- Camera and storage permissions-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Call Permission -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Push notofication Permission-->
    <uses-permission android:name="com.batua.android.user.permission.C2D_MESSAGE" />

    <application
        android:name="com.tecsol.batua.user.BatuaUserApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_batua_logo_small"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>
        <activity android:name="com.tecsol.batua.user.module.onboard.view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.tecsol.batua.user.module.onboard.view.activity.OnBoardActivity">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.onboard.view.activity.MobileNumberActivity">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.onboard.view.activity.OtpActivity">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.onboard.view.activity.ResetPasswordActivity">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.dashboard.view.activity.HomeActivity">
        </activity>
        <activity
            android:name="com.tecsol.batua.user.module.payment.view.activity.PrePaymentConfirmationActivity"
            android:theme="@style/BlueTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.tecsol.batua.user.module.review.view.activity.ReviewActivity"
            android:theme="@style/BlueTheme">
        </activity>
        <activity
            android:name="com.tecsol.batua.user.module.payment.view.activity.PaymentActivity"
            android:theme="@style/BlueTheme"/>
        <activity android:name="com.tecsol.batua.user.module.wallet.view.activity.WalletActivity">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.profile.view.activity.ProfileActivity">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.onboard.view.activity.SetPinActivity">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.profile.view.activity.EditProfileActivity">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.onboard.view.activity.ChangePinActivity">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.onboard.view.activity.ChangePasswordActivity">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.support.activity.ContactUsActivity">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.transaction.view.activity.TransactionHistoryActivity">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.onboard.view.activity.ResetPinActivity">
        </activity>
        <activity
            android:name="com.tecsol.batua.user.module.payment.view.activity.PaymentSuccessActivity"
            android:theme="@style/PaymentStatus"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.tecsol.batua.user.module.payment.view.activity.PaymentFailureActivity"
            android:theme="@style/PaymentStatus">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.wallet.view.activity.WalletRechargeActivity">
        </activity>
        <activity android:name="com.tecsol.batua.user.module.onboard.view.activity.PinLoginActivity">
        </activity>

        <receiver android:name="com.tecsol.batua.user.module.onboard.service.IncomingSmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.tecsol.batua.user.module.common.receiver.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.batua.android.user" />
            </intent-filter>
        </receiver>

        <service android:name="com.tecsol.batua.user.module.common.service.GcmIntentService" />


        <!--<receiver android:name="com.tecsol.batua.user.module.common.receiver.InternetStatusReciever" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>
